## nextflow

.idea/**
.gradle
.*.log*
.cache/*
.vagrant/*
.cache/*
.nextflow*
.node-nextflow*
.devcontainer
.vscode/*
*/*/bin/*
**/build/**
build/**
modules/**/build/
modules/**/*.iml
modules/nextflow/work/
**/out/*
tmp/*
work/*
nextflow.eml
nextflow.iml
Vagrantfile
resources/*
test/*
tools/*
tests_other
other
docs/_build/
./*.txt
errors/
misc/
cloud/my-*
docker-test
docker/dist
docker/nextflow
temp
.dockerignore
.launch.classpath
plugins-prod
sandbox
wave-tests
x/*
null/

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk