/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Prepare inputs
    
    withName: 'FASTP' {
        publishDir = [ 
            path: "${params.outdir}/fastp",
            pattern: "*{html,log,json}"
            ]
    }
    withName: 'UNZIP_FASTA' {
        publishDir = [ enabled: false]
    }
    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [ enabled: false]
    }
    withName: 'BWAMEM2_INDEX' {
        publishDir = [ 
            path: "${params.outdir}",
            mode: params.publish_dir_mode,
            pattern: "bwamem2",
            saveAs: { filename -> 'bwamem2_index'}
        ]
    }
    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        publishDir = [ enabled: false]
    }

    // Alignments
    
    withName: 'BWAMEM2_MEM' {
        publishDir = [ enabled: false]
            // Mark shorter splits as secondary (-M), add read groups to bam (-R),
            // and process in batches of (-K) bases for better reproducibility 
        ext.args   = { "-M -K 100000 -R ${meta.read_group}" }
        ext.args2  = { "-n" }
    }

    // BAM processing or STATS
    
    withName: 'GATK4SPARK_MARKDUPLICATES' {
        publishDir = [
            path: "${params.outdir}/markduplicates",
            pattern: "*{cram,bam}",
            mode: params.publish_dir_mode
        ]
    }
    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: "${params.outdir}/markduplicates",
            pattern: "*{crai,bai}",
            mode: params.publish_dir_mode
        ]
    }
    withName: 'SAMTOOLS_STATS' {
        publishDir = [ path: "${params.outdir}/bam_stats/samtools"]
    }
    withName: 'SAMTOOLS_REINDEX_BAM' {
        ext.args  = { ' -F 3844 -q 30 ' } // high mapq , primary read paired properly mapped
        }
    withName: 'GOLEFT_INDEXCOV' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/bam_stats/indexcov" }
            ]
    }
    withName: 'MOSDEPTH' {
        cpus = 4
    }

    // Variant calling
    
    withName: 'BCFTOOLS_MPILEUP' {
        ext.args    = { params.opt_bcfpileup ? "${params.opt_bcfpileup}" : '' }
        ext.args2   = { 
            ( params.consensus_caller ? '--consensus-caller' : '--multiallelic-caller') +
            " --ploidy 1 " }
        ext.args3   = { "-i 'count(GT==\"RR\")==0'" } // only report non homozygous reference variants
        publishDir  = [
            [
                path: "${params.outdir}/variantcalling/bcftools",
                pattern: "*.vcf*",
                mode: params.publish_dir_mode
            ],
            [
                path: "${params.outdir}/mpileup",
                pattern: "*.mpileup*",
                mode: params.publish_dir_mode
            ]
        ]
    }
    withName: 'FREEBAYES' {
        ext.args   = { "--ploidy ${params.ploidy} --min-alternate-fraction 0.1 --min-mapping-quality 1" }
        publishDir = [
            enabled: false
        ]
    }
    withName: 'BCFTOOLS_SORT' {
        ext.prefix = { meta.id + ".freebayes" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variantcalling/freebayes" },
            pattern: "*vcf.gz"  ]
    }
    withName: 'GATK4_HAPLOTYPECALLER' {
        ext.args   = { 
            ( params.haplotype_caller_options ?: "" ) +
            " --sample-ploidy ${params.ploidy} " 
            }
        ext.prefix = { "${meta.id}_haplotypecaller" }
        publishDir = [ enabled: false ]
    }
        withName: 'GATK4_VARIANTFILTRATION' {
        ext.prefix = { "${meta.id}_varfiltration" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variantcalling/haplotypecaller"},
            pattern: "*{vcf.gz,tbi}"
        ]
    }
    
    // VCF stats

    withName: 'BCFTOOLS_STATS' {
        ext.prefix = { vcf.baseName - ".vcf|.vcf.gz" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/vcfreports/${meta.variantcaller}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'VCFTOOLS_QUAL' {
        ext.prefix = { variant_file.baseName.replaceFirst(/\.vcf(\.gz)?$/, '') }
        ext.args   = { '--TsTv-by-qual' }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/vcfreports/${meta.variantcaller}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'VCFTOOLS_SUMMARY' {
        ext.prefix = { variant_file.baseName.replaceFirst(/\.vcf(\.gz)?$/, '') }
        ext.args   = { '--FILTER-summary' }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/vcfreports/${meta.variantcaller}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
