/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: 'UNZIP_FASTA' {
        publishDir = [ enabled: false]
    }
    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [ enabled: false]
    }
    withName: 'BWAMEM2_INDEX' {
        publishDir = [ 
            path: "${params.outdir}/bwamem2_index",
            mode: params.publish_dir_mode   ]
    }
    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        publishDir = [ enabled: false]
    }
    withName: 'BWAMEM2_MEM' {
        publishDir = [ enabled: false]
            // Mark shorter splits as secondary (-M), add read groups to bam (-R),
            // and process in batches of (-K) bases for better reproducibility 
        ext.args   = { "-M -K 100000 -R ${meta.read_group}" }
        ext.args2  = { "-n" }
    }
    withName: 'GATK4SPARK_MARKDUPLICATES' {
        publishDir = [
            path: "${params.outdir}/markduplicates",
            pattern: "*{cram, bam}",
            mode: params.publish_dir_mode
        ]
    }
    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: "${params.outdir}/markduplicates",
            pattern: "*{crai, bai}",
            mode: params.publish_dir_mode
        ]
    }
    withName: 'BCFTOOLS_MPILEUP' {
        ext.args    = { params.opt_bcfpileup ? "${params.opt_bcfpileup}" : '' }
        ext.args2   = { 
            ( params.consensus_caller ? '--consensus-caller' : '--multiallelic-caller') +
            " --ploidy 1 " }
        ext.args3   = { "-i 'count(GT==\"RR\")==0'" } // only report non homozygous reference variants
        publishDir  = [
            [
                path: "${params.outdir}/variantcalling/bcftools",
                pattern: "*{vcf}",
                mode: params.publish_dir_mode
            ],
            [
                path: "${params.outdir}/mpileup",
                pattern: "*{mpileup}*",
                mode: params.publish_dir_mode
            ]
        ]
    }
    withName: 'FREEBAYES' {
        ext.args   = { '--ploidy 1 --min-alternate-fraction 0.1 --min-mapping-quality 1' }
        publishDir = [
            enabled: false
        ]
    }

}
