/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


params {
    input           = "/scratch/mdprieto/bwa_align_stats/test/test.csv"
    outdir          = "/scratch/mdprieto/results/bwa_align"
    ref_genome      = "/mnt/cidgoh-object-storage/database/reference_genomes/giardia/assemblage_A/Giardia_GCF000002435_WB_genomic.fna"
    ploidy          = 1
    skip_pileup     = false
    sort_bam        = true
    save_mpileup    = true
    genome_list_composite = [
        "/mnt/cidgoh-object-storage/database/reference_genomes/giardia/assemblage_A/Giardia_GCF000002435_WB_genomic.fna",
        "/mnt/cidgoh-object-storage/database/reference_genomes/giardia/assemblage_B/GiardiaDB-68_GintestinalisAssemblageBGS_B_Genome.fasta"
        ]
}

profiles  {
    slurm {
        process{
            errorStrategy = 'retry'
            maxRetries = 2
        }
        executor {
            pollInterval = '60 sec'
            name = 'slurm'
            submitRateLimit = '8/min'
            queueSize = 8   
        }
    }
}

// Specific process options

process {
    resourceLimits = [
        cpus: 8,
        memory: 95.GB,
        time: 24.h 
        ]
    withName: 'GATK4_VARIANTFILTRATION' {
        ext.args   = { 
            ( "--filter-name \"QD\" --filter-expression \"QD <= 10.0\" ") +
            ( "--filter-name \"DP\" --filter-expression \"DP <= 10.0\" ") +
            ( "--filter-name \"FS\" --filter-expression \"FS >= 55.0\" ") +
            ( "--filter-name \"MQ\" --filter-expression \"MQ <= 40.0\" ")            
            }
    }
    
}